body {
    font-family: 'Muli', sans-serif;
}

div#mainContainer {
    margin: 2%;
}

div#searchPersonContainer {
    width: 40%;
    margin: auto;
}

div.personInfoBlock {
    width: 60%;
    margin: auto;
    padding: 1%;
    text-align: left;
}

div.personInfoBlock h2 {
    text-align: center;
}