<!--*/
index.html

Application landing page
*/-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!--Favicon-->
        
    
        <!-- Bootstrap, fontawesome, Google Fonts, custom CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/cis451.css') }}">
    
        <title>CIS 451</title>

    </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CIS 451 - Final Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </ul>
        </div>
    </nav>

    <div id="mainContainer">
        <div id="searchPersonContainer">
            <form>
                <div class="form-group">
                    <label for="personSelect"><b>Select a person:</b></label>
                    <select class="form-control" id="personSelect" name="personSelect">
                    {% for index, person in people.iterrows() %}
                        {% if person['name'] == selectedPerson %}
                        <option selected="selected">{{ person['name'] }}</option>
                        {% else %}
                        <option>{{ person['name'] }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>
            <button id="findPersonBtn" class="btn btn-dark">Submit <i class="fa fa-paper-plane" style="color: white;"></i></button>
            </form>
        </div>
    
    {% if not info.empty %}
    {% for index, value in info.iterrows() %}
    
    <div class="personInfoBlock">
        <h2>Displaying Information for <b style="color: #024D90;">{{ value['first'] }} {{ value['last'] }}</b></h2>
        <hr>
        <b>Order Number: </b> {{ value['orderNumber'] }} <br />
        <b>Item Count: </b>{{ value['itemCount'] }} <br />
        <b>Total Price: </b>${{ value['totalPrice'] }} <br />
        <b>Order Date: </b>{{ value['orderDate'] }}
    </div>
        
    {% endfor %}
    {% endif %}
    
    </div>


    <!-- jQuery, Bootstrap JS, fontawesome, custom js -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>

</body>
</html>